.news-detail[data-v-d9de5da8] {
  margin: 0 auto;
}
.news-header[data-v-d9de5da8] {
  background-color: var(--elements-bg-color);
  border-radius: 23px;
  padding: 20px;
}
.back-link[data-v-d9de5da8] {
  background-color: #e9e9e9;
  border: none;
  border-radius: 23px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}
.back-link[data-v-d9de5da8]:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}
.news-detail__header h1[data-v-d9de5da8] {
  margin: 10px 0;
}
.news-date[data-v-d9de5da8] {
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.news-updatedDate[data-v-d9de5da8] {
  color: var(--color-gray);
  font-style: italic;
  font-weight: 300;
  margin-bottom: 30px;
}
.news-detail__image img[data-v-d9de5da8] {
  border-radius: 8px;
  height: auto;
  margin-bottom: 30px;
  width: 100%;
}
.news-detail__content[data-v-d9de5da8] {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px;
}
.news-detail__content p[data-v-d9de5da8] {
  color: #000;
  margin-bottom: 1.5rem;
}
.error[data-v-d9de5da8],
.loading[data-v-d9de5da8] {
  font-size: 1.2rem;
  padding: 50px;
  text-align: center;
}
